.wrapper-home {
  background: url('../../../public/img/home-background.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.wrapper-home-blur {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #000000a0 80%, #000);
}

.wrapper-home-title {
  width: 100vw;
  text-align: center;
  padding-top: 80px;
  position: absolute;
  top: 0;
}

.wrapper-home-title > h1 {
  color: #fff;
  font-size: 3rem;
  font-family: 'Maven Pro', sans-serif;
  font-family: 'Quintessential', cursive;
  font-weight: 600;
  text-transform: uppercase;
  user-select: none;
}

.wrapper-home-options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  width: 100vw;
  position: absolute;
  top: 35vh;
}

.wrapper-home-options > button {
  font-family: 'Maven Pro', sans-serif;
  font-size: 1.2rem;
  font-weight: lighter;
  width: 300px;
  white-space: normal;
  padding: 40px;
  color: #ffffff7c !important;
  background: transparent !important;
  border-color: #ffffff40 !important;
}

.wrapper-home-options > button:hover {
  color: #fff !important;
  border-color: #fff !important;
  transition: border-color 0.3s ease !important;
  background: #0000005b !important;
  box-shadow: 0px 0px 6px 1px #2e95a04d;
}

@media screen and (max-width: 800px) {
  .wrapper-home-title > h1,
  .wrapper-home-title > h2 {
    width: 80vw;
    margin: 0 auto;
  }

  .wrapper-home-title > h1 {
    font-size: 2rem;
  }

  .wrapper-home-title > h2 {
    font-size: 1.4rem;
  }

  .wrapper-home-options {
    padding: 0 10vw;
  }
}

@media screen and (max-width: 500px) {
  .wrapper-home-title {
    padding-top: 40px;
  }

  .wrapper-home-options {
    top: 30vh;
  }

  .wrapper-home-options > button {
    font-size: 1.2rem;
    padding: 30px;
    max-width: 80vw;
  }
}